/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

/* Schrijf hier  jouw CSS! */

.one {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.three {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.three ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 300px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.five {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.five article {
    flex-basis: 360px;
    flex-grow: 1;
    flex-shrink: 0;
}
